<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="page">
        <header class="p-3 text-bg-white">
            <div class="container">
              <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                  <img class="header__image" src="{{ url_for('static', filename='image/bear.png') }}" alt="bear">
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                  <li><a href="{{ url_for('index') }}" class="nav-link px-2 text-secondary">Главная</a></li>
                  <li face="Arial"><a href="{{ url_for('monument1') }}" class="nav-link px-2 text-secondary">Ушаков Ф.Ф</a></li>
                  <li face="Arial"><a href="{{ url_for('monument2') }}" class="nav-link px-2 text-secondary">Толбухин Ф.И</a></li>
                </ul>
              </div>
            </div>
      </header>
    </div>

        <div class="body1">
            {% block body %}{% endblock %}
                  <div class="container">
                    <div class="text">
                       <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                         <img class="body1__image" src="{{ url_for('static', filename='image/UshakovFF.png') }}" alt="UshakovFF">
                         <img class="body2__image" src="{{ url_for('static', filename='image/UshakovFF2.png') }}" alt="UshakovFF2">
                       </a>
                        <p style="font-size: 35px;" face="Arial">
                            История воздвижения:
                        </p>
                        <h2 style="font-size: 20px;" face="Arial">
                        Памятник адмиралу Ф. Ф. Ушакову в Тутаеве появился в 2006 году. Его воздвигли на месте снесённого памятника революционеру Панину. Идея поставить памятник возникла у местного скульптора-непрофессионала Всеволода Алаева ещё раньше. Тогда он просил районную администрацию открыть Федору Фёдоровичу хотя бы мемориальную доску — в ярославской провинции у Ушакова было родовое поместье. Памятник строили на пожертвования жителей, средства выделил и Фонд российских традиций. На средства местного колокололитейщика Николая Шувалова и на его предприятии отлили памятник. На пожертвования прихожан Крестовоздвиженской церкви и главы округа выложили гранитной плиткой и диким камнем стелу и постамент. Весной состоялась закладка капсулы на месте установки памятника, а спустя полгода его торжественно открыли и освятили.
                        </h2>
        </div>

        <div class="body2">
              <div class="container">
                <div class="text2">
                       <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                            <img class="body3__image" src="{{ url_for('static', filename='image/UshakovFF3.png') }}" alt="UshakovFF3">
                            <img class="body4__image" src="{{ url_for('static', filename='image/UshakovFF4.png') }}" alt="UshakovFF4">
                       </a>

                        <p style="font-size: 35px;" face="Arial">
                            Биография Ушакова Ф.Ф:
                        </p>

                        <h3 style="font-size: 20px;" face="Arial">
                            Ушаков Фёдор Фёдорович родился в родовом имении в сельце Бурнакове Романовского уезда Ярославской губернии в семье небогатого дворянина.  Сейчас это Рыбинский район. Строения в усадьбе были скромные, всего несколько жилых комнат и веранда. В поместье родителей Федор Ушаков провел детство, отрочество, юность. В 16 лет юный Ушаков поступает в старейший в России Морской щляхетский (то есть дворянский) кадетский корпус в Санкт-Петербурге. Юному Ушакову приходилось изучать многое. Навигация, астрономия, математика, тактика, иностранные языки, а их входило в обязательную программу пять: английский, французский, немецкий, шведский и датский… С отличием окончил его в 1766 году.
                            Спустя два года после окончания корпуса мичман Ушаков был переведён в Азовскую флотилию в команду контр-адмирала Сенявина. Заниматься здесь приходилось делом самым что ни есть прозаическим - доставлять по Дону лес для строившихся в Таганроге кораблей. Впрочем, и без приключений не обходилось: однажды только врожденная смекалка помогла спасти груз четырех безнадежно севших на мель судов. Деяние это не осталось незамеченным – 30 июля 1769 года Ушаков был произведен в лейтенанты. А в это время шла вторая русско-турецкая война. Флот не только строился – он воевал. Однако Ф.Ушаков в бой не рвался – он работал и ждал когда придет его черед.
                            В 1780 году был назначен командиром императорской яхты «Штандарт», стоявшей напротив Зимнего дворца. Ушаков, не лезший в политику, не желавший и не умевший плести интриги, вскоре отказался от придворной карьеры и добился, чтобы его вернули на боевой корабль, фрегат «Святой Георгий Победоносец»
                            Федор Федорович Ушаков – один из создателей Черноморского флота. С 1783 года участвовал в строительстве главной базы флота в Севастополе, наблюдал за постройкой кораблей в Херсоне. Во время строительства нежданно-негаданно вспыхнула эпидемия чумы. Но командир корабля сумел уберечь всех своих матросов, не разрешая им покидать лагерь, где они жили.
                            За успешную борьбу с эпидемией чумы в Херсоне и бережное отношение к матросам Федор Ушаков получил свою первую награду – орден св.Владимира и произведен в капитаны I ранга. Теперь он командовал линейным кораблем «Святой Павел».
                            Во всем блеске талант Ушакова раскрылся в русско-турецкой войне 1787-1791 годов. Командуя с 1790 г. Черноморским флотом, одержал блестящие победы над турецким флотом в Керченском морском сражении (1790), у мыса Тендра (1790) и у мыса Калиакрия (1791). В 1790 г. Ф.Ушаков получил чин контр-адмирала.
                            В каждом из этих сражений Ушаков применял новые способы ведения боя. Он был первым, кто сломал привычные понятия о правилах ведения морского сражения. Разработал и применил маневренную тактику. Практически все свои победы Федор Ушаков одержал силами значительно меньшими, нежели неприятельские.  Ни численный перевес ни превосходство противника в огневой силе не могли остановить флот «Ушак-паши» - так называли турки нашего земляка.
                            В крупном бою у мыса Тендра, что вблизи нынешней Одессы, использовав фактор внезапности, отличное взаимодействие кораблей, проявив невероятное тактическое искусство, Ушаков разгромил вражескую эскадру. Обладая искренним смирением, командующий приписывал свои победы исключительно Божественному милосердию и усердию подчиненных.
                            В 1791 году Ушаков одержал блестящую победу у мыса Калиакрия, внезапно напав на турецкий флот на территории противника. У турок была поддержка береговых батарей, их флот был усилен опытными тунисско-алжирскими пиратами, а общее число пушек составляло 1900, тогда как на всей русской эскадре было всего 980 орудий.  И вновь Ушаков вышел из сражения победителем. За победы у Тендры и Калиакрии контр-адмирал Ушаков был награжден императрицей орденами Святого Георгия 2-ой степени и Святого Александра Невского, а также землями в Тамбовской губернии и Белоруссии.
                            Гений Ушакова позволял ему устанавливать свои правила ведения боя и сокрушать противника. Храбрость и ответственность приводили его на самые важные участки сражений. Любовь Ушакова к русским матросам вызывала у них чувство защищённости и уверенности в победе. Его по праву называли грозой Черного и Средиземного морей.
                            Русско-турецкая эскадра под командованием Ушакова успешно провела Средиземный поход против Франции (1798-1800). Штурм неприступной крепости острова Корфу вошел в историю как образец взаимодействия флота и морского десанта. Многочисленный гарнизон при 650 орудиях не устоял перед Ушаковской тактикой и русским напором. Ушаков доказал, что корабли могут успешно штурмовать и столь неприступные бастионы.
                            За одержанные победы Ушаков был произведен в полные адмиралы. Поздравления по этому случаю прислали такие выдающиеся военачальники как англ. адмирал Нельсон и фельдмаршал Александр Суворов. Ушаков получил бриллиантовые знаки ордена Святого А. Невского и ордена Святого Иоанна Иерусалимского.
                            В военной истории России не так много флотоводцев, которых можно поставить рядом с Ушаковым. Он не проиграл ни одной из проведенных им 43 военных кампаний. Флотоводческий гений Ушакова был многогранен. Много труда он вложил в совершенствование кораблей. Улучшения их мореходных качеств и повышения огневой мощи. Ушаков был сторонником суворовских принципов воспитания подчиненных. Строгость и нетерпимость к любым беспорядкам он сочетал с заботой о людях. Видел в них не просто исполнителей, а служителей, от старания и умения которых зависит успех в бою. Превыше всего он ставил интересы России, не жалел сил, дабы добиться славы и процветания.
                            Прослужив Отечеству верой и правдой 49 лет, Ушаков в 1807 году вышел в отставку. Краткий пенсионный аттестат адмирала, подписанный императором Александром I, начинался просто: «Победителю всех неприятелей России на морях – графу Ушакову Федору Федоровичу». Уволен с правом ношения мундира и полным жалованьем.
                            Последние годы жизни Ушаков провел в своем имении Темниковского уезда Тамбовской губернии. Жил очень скромно, уединенно, Ф.Ф.Ушаков посвятил себя молитве и широкой благотворительной деятельности. Долго жил в стенах Санаксарского монастыря, который основал его дядя, старец Феодор (Санаксарский).
                            Скончался Ф.Ушаков в 1817 году на 74 году жизни. Отпели его в Спасо-Преображенской церкви г.Темникова, несколько верст до Санаксарского монастыря гроб с телом народ нес на руках. Тело флотоводца погребено в стенах Санаксарского монастыря в Мордовии.
                            В честь флотоводца утвержден орден и медаль Ушакова. В его честь переименована одна из самых старых улиц левобережной части города Тутаева. Именем адмирала названа и одна из школ города, где учащиеся и педагоги собрали замечательный музей в память о нашем земляке
                            На родине Ушакова в Бурнакове и у места его крещения в с.Хопылеве юными моряками в 2004 и 2005 годах установлены мемориальные знаки в виде крестов, стилизованных под якорь.
                            В 2001 году Ф. Ушаков был канонизирован Русской православной церковью. В официальном акте о канонизации Федора Ушакова упомянуты благочестивая жизнь, благотворительность и государственная деятельность.
                            Вся его жизнь была отдана России. Он преданно служил благу своего народа, державному достоинству своей Родины. И вместе с тем всегда оставался человеком глубокой веры, человеком великого милосердия и жертвенности.
                        </h3>
                        <iframe
                                src="https://yandex.ru/map-widget/v1/?um=constructor%3A3b6e076a60b67c6460f10575133bc1db298399472982a68b312836a32015e435&amp;source=constructor" width="320" height="240" frameborder="0">
                        </iframe>
        </div>

    <div class="content">
    {% block content %}{% endblock %}
                <div>
              <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
              <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <img class="header__image" src="{{ url_for('static', filename='image/bear.png') }}" alt="bear">
              </a>
              <span style="font-size: 10px;" class="mb-3 mb-md-0 text-body-secondary">© 2025 Company, Inc</span>
            </div>
  </footer>
    <div>
</body>
</html>